@using HealthySystem.Web.Infrastructure.HtmlHelpers
@model HealthySystem.Web.Areas.Identity.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Регистрирай се";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("Register", "Account", new { area = "Identity" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.EditorFor(m => m.UserName)
    @Html.EditorFor(m => m.Email)
    @Html.EditorFor(m => m.Password)
    @Html.EditorFor(m => m.ConfirmPassword)
    <div class="form-group">
        <div class="col-md-offset-3 col-md-10">
            @Html.Submit(new { @class = "btn btn-lg btn-primary", value = @ViewBag.Title })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
