@using HealthySystem.Web.Infrastructure.HtmlHelpers
@model HealthySystem.Web.Areas.Identity.ViewModels.Manage.ChangePasswordViewModel
@{
    ViewBag.Title = "Смяна на парола";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    @Html.EditorFor(m => m.OldPassword)
    @Html.EditorFor(m => m.NewPassword)
    @Html.EditorFor(m => m.ConfirmPassword)
    
    <div class="form-group">
        <div class="col-md-offset-3 col-md-10">
            @Html.Submit(new { @class = "btn btn-lg btn-primary", value = "Смени паролата" })
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}